body {
  margin: 0;
}
.editor-container {
  display: flex;
  width: 100%;
}
.box-container {
  display: flex;
  flex-direction: column;
  padding: 0 10px 20px 10px;
  /* overflow: hidden; */
}
.box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-title-name {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
.render-icon {
  font-size: 20px !important; 
  margin-right: 10px;
  color: #060606;
  border-radius: 5px;
}
.CodeMirror {
  background: transparent !important;
  color: inherit !important;
}
.CodeMirror-gutters {
  background: transparent !important;
  box-sizing: border-box !important;
  border-right: none !important;
}
.CodeMirror-vscrollbar {
  display: none !important;
}
.CodeMirror-hscrollbar {
  display: none !important;
}
.code-mirror-textarea {
  height: 45vh;
}
.results-wrapper {
  height: 45vh;
}